@import "tailwindcss";

@theme {
  --color-primary: #fa812f;
  --color-primary-light: #fef3e2;
  --font-spaceGrotesk: var(--font-spaceGrotesk);
}

/* 
Define set of classes which can be used on a multiple components.
Use it like the classes, <span className="heading">Welcome</span> 
*/
@layer utilities {
  .heading {
    @apply text-3xl font-bold;
  }
}

/* 
Applies changes to tags liks h1, h2, 
<h1>This is applied</h1> 
*/
@layer base {
}

/* Declare global font  */
body {
  font-family: "Inter", sans-serif;
}
